<html>
    <head>
        <title>{ title } - Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>$ Track yo Order $</h1>
            <div class="order_container">
                
                    <div class="tracker">
                        <ul>
                            <li>Order No: {{tracker.order_number}}</li>
                            

                            </ul>
                    </div>
                  
            </div>
            
        
    </body>
</html>